<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/icon/logo.png" alt="Logo" class="logo-header">
      </ion-button>
    </ion-buttons>
    
    <ion-title>Inicio</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenido!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta es la página de inicio de la aplicación.</p>
    </ion-card-content>
  </ion-card>
</ion-content>